@page
@model razorTwo.Pages.TwoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    i'm page two, found as a package reference in the site project
</body>
</html>
