@page
@model razorOne.Pages.OneModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    i'm page one, referenced in the site project
</body>
</html>
